DATABASE=jdbc:postgresql://localhost:5432/database
DB_USER=user
DB_PASSWORD=password

AWS_REGION=region
AWS_SECRET_ACCES_KEY=aws+secret+acceskey
AWS_BUCKET_NAME=namebucket
AWS_KEY_ID=awskeyid

EMAIL_PASSWORD=xxxx xxxx xxxx xxxx
EMAIL_TOKEN_EXPIRATION=900000
EMAIL_USERNAME=example@gmail.com

LINK_CONFIRMATION=http://localhost:3000/auth/verify?token=

JWT_EXPIRATION=86400000
JWT_SECRETKEY=OuqtXAJaOLVlcEmXSn6h5v2zL+FZgHSVl2ZjjXOXAqY=
